
@page {
    margin: 0px auto;
}

body {
    margin: 0px auto;
}

#description {
    position: relative;
    top: 175px;
    left: 216px;
    width: 371px;
    height: 71px;
    text-align: center;
}
#description p{
    margin: 5px 2px;
    font-size: 20px;
    width: 100%;
}
#code {
    position: relative;
    top: 257px;
    left: 371px;
    width: 153px;
    height: 29px;
    text-align: center;
}
#code p{
    margin: 5px 2px;
}
#validation-date{
    position: relative;
    top: 299px;
    left: 371px;
    width: 153px;
    height: 29px;
    text-align: center;
}
#validation-date p{
    margin: 5px 2px;
}
#text-amount{
    font-size: 30px;
}
